{% extends "master.twig" %}
{% block content %}
<div class="col-md-8 col-md-offset-2">
    <section class="summary">
        <p>
            Developer having more than eight years of experience mostly on LAMP & LEMP platforms with a lot of experience in web and back-end development, with a great communication skill and a good ability to learn new things. Passionate about clean code, optimization and non-relational databases and cloud computing.
        </p>
    </section>
    <section class="highlights">
        <h3>Highlights:</h3>
        <ul>
            <li>Over 8 years of experience as a full-stack developer (mostly LAMP & LEMP)</li>
            <li>Back-end, Web back-end, Database, Analyzing</li>
            <li>PHP, OOP, Symfony, Laravel, Zend, Silex, MVC, MOVE</li>
            <li>MySQL, MongoDB, Redis, Memcached, Gearman, RabbitMQ</li>
            <li>HTML, CSS, SCSS, Javascript, jQuery, Angular.js, Vue.js</li>
            <li>Web designing, SEO, UI and UX design</li>
            <li>Test-driven development (TDD). PHPUnit, Codeception and Behat</li>
            <li>Experienced in big-scale & distributed applications</li>
            <li>Experienced in refactoring, debugging and troubleshooting large code base</li>
            <li>Developed high traffic web applications/APIs</li>
            <li>Optimization and performance tuning (back-end and front-end)</li>
            <li>RESTful API</li>
            <li>Online browser-based game development</li>
            <li>Linux (CentOS, Ubuntu, Debian)</li>
            <li>Very good at team work (GIT, Scrum, Trello, Pair-Programming)</li>
            <li>Technology geek</li>
        </ul>
    </section>

    <section class="experience">
        <h3>Experience:</h3>
        <ul>
            <li>2015: Sam-Media, Senior PHP Developer (Digital Marketing <a href="http://www.sam-media.com">sam-media.com</a>)</li>
                <ul>
                    <li>A lot of optimization and performance boost to the core platform (Billing platform).</li>
                    <li>Change system to asynchronous architect and to use message queue (RabbitMQ).</li>
                    <li>Adding new features and new integrations to the core platform.</li>
                    <li>Maintenance and refactoring a large code base.</li>
                    <li>I meet Docker and Redshift here.</li>
                </ul>
            <li>Aug 2012 - Feb 2015: Fanasia, Development Lead (Telecom solutions <a href="http://fanasia.ir">fanasia.ir</a>)</li>
                <ul>
                    <li>I have used PHP to implement, APC for help, Nginx to serve, MongoDB for storage, Memcached to share, Redis for cache, Nagios to watch, RabbitMQ to trust and GIT to remember.</li>
                    <li>Leading DEV team.</li>
                    <li>Development from the ground up to the product.</li>
                    <li>QC system for a mobile operator with a lot of integrations with operator's network (ECare, BI, SSO, OracleDB, Call-center, notifications, mail servers).</li>
                    <li>IVR work-flow designer.</li>
                </ul>
            <li>Mobinone, Consultant Programmer (Mobile VAS <a href="http://www.mobinone.org">mobinone.org</a>)</li>
                <ul>
                    <li>CMS under heavy load to handle scheduled contents for a mobile sms gateway with various apis and interfaces, allow third-parties to manage their services.</li>
                    <li>Web based tele-conference system that allow users join using both voice-call and web interface (WebRTC, PHP, Symfony components, AngularJS).</li>
                    <li>RabbitMQ message queue to handle millions SMS traffic per day.</li>
                </ul>
            <li>Nov 2011 - June 2012: Kavatelecom, Senior Developer (Telephony systems <a href="http://kavatelecom.com">kavatelecom.com</a>)</li>
                <ul>
                    <li>Call-center and Contact-center using PHP and Asterisk telephony system.</li>
                    <li>Design & Develop a full featured telephony-based ticketing system with PHP and BackboneJS and Asterisk.</li>
                    <li>Used Gearman as a job queue.</li>
                    <li>Development from the ground up to the products.</li>
                </ul>
            <li>Dec 2009 - July 2011: Parspake, Web Developer, Designer (Online games and social platforms <a href="http://parspake.com">parspake.com</a>)</li>
                <ul>
                    <li>Design and Development of online browser-based multiplayer games. (<a href="myfc.ir">myfc.ir</a>, <a href="cheetozia.com">cheetozia.com</a>, <a href="gorz.ir">gorz.ir</a>)</li>
                    <li><a href="kookoja.com">Kookoja</a> a unique online social magazine.</li>
                    <li>Set-up Replication and Clustering in Mysql.</li>
                    <li>Apache+Varnish web-server optimizations.</li>
                    <li>Web-based projects using Codeigniter & CakePHP frameworks.</li>
                    <li>Modern GUI & UX using HTML, CSS and Javascript for online games.</li>
                    <li>Designed & Developed multiple E-Commerce websites.</li>
                    <li>Developed several Joomla components/extensions.</li>
                </ul>
            <li>Few years as a freelancer and hacker..</li>
        </ul>
    </section>

    <section class="technologies">
        <h3>Current Technologies of Interest</h3>
        <div class="row">
            <div class="col-md-6">
                <h4>Laravel</h4>
                <p>Laravel is a free, open-source PHP web framework intended for the development of web applications following the MVC architectural pattern. Some of the features of Laravel are a modular packaging system with a dedicated dependency manager, different ways for accessing relational databases, utilities that aid in application deployment and maintenance, and its orientation toward syntactic sugar.</p>
                <p><a href="http://laravel.com">Learn More</a></p>
            </div>
            <div class="col-md-6">
                <h4>RabbitMQ</h4>
                <p>RabbitMQ is an open source message broker software that implements the Advanced Message Queuing Protocol (AMQP). The RabbitMQ server is written in the Erlang programming language and is built on the Open Telecom Platform framework for clustering and failover.</p>
                <p><a href="https://www.rabbitmq.com">Learn More</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Angular.js</h4>
                <p>AngularJS is an open-source JavaScript framework, maintained by Google, that assists with running single-page applications. Its goal is to augment browser-based applications with model–view–controller (MVC) capability, in an effort to make both development and testing easier.</p>
                <p><a href="http://angularjs.org">Learn More</a></p>
            </div>

            <div class="col-md-6">
                <h4>Vue.js</h4>
                <p>Vue is a library that focuses heavily on the ViewModel—the two-way data bindings that tie what we see and interact with on the screen with the application’s data model.</p>
                <p><a href="http://vuejs.org/">Learn More</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>MongoDB</h4>
                <p>MongoDB is a scalable, high-performance, open source, document-oriented, No-SQL database.  Not good for everything, but awesome when you need it. It is part of the NoSQL family of database systems.</p>
                <p><a href="http://mongodb.org">Learn More</a></p>
            </div>
            <div class="col-md-6">
                <h4>Node.JS + Express.js</h4>
                <p>Evented I/O for V8 JavaScript.  Simply put: Awesome.  Create really fast non-blocking servers very quickly. After using it I'm working on Express.js for clustering.</p>
                <p><a href="http://nodejs.org">Learn More</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Redis</h4>
                <p>Redis is an open source, advanced key-value store. In order to achieve its outstanding performance, Redis works with an in-memory dataset. Depending on your use case, you can persist it either by dumping the dataset to disk every once in a while. I planed to use it for short life data.</p>
                <p><a href="http://redis.io">Learn More</a></p>
            </div>
        </div>
    </section>

    <section class="tags">
        <h3>What I know</h3>
        <h4>Tags</h4>
        <div class="tags">
            <span class="label label-primary">PHP</span>
            <span class="label label-primary">MySQL</span>
            <span class="label label-primary">OOP</span>
            <span class="label label-primary">SOLID</span>
            <span class="label label-primary">MVC</span>
            <span class="label label-primary">Laravel</span>
            <span class="label label-primary">Symfony Components</span>
            <span class="label label-primary">SEO</span>
            <span class="label label-primary">NoSQL</span>
            <span class="label label-primary">MongoDB</span>
            <span class="label label-primary">Redis</span>
            <span class="label label-primary">Memcached</span>
            <span class="label label-primary">Gearman</span>
            <span class="label label-primary">RabbitMQ</span>
            <span class="label label-primary">Apache</span>
            <span class="label label-primary">Nginx</span>
            <span class="label label-primary">Xdebug</span>
            <span class="label label-primary">Phpunit</span>
            <span class="label label-primary">Codeception</span>
            <span class="label label-primary">Behat</span>
            <span class="label label-primary">Vagrant</span>
            <span class="label label-primary">Docker</span>
            <span class="label label-primary">Varnish</span>
            <span class="label label-primary">Ubuntu</span>
            <span class="label label-primary">SOAP</span>
            <span class="label label-primary">REST</span>
            <span class="label label-primary">Git</span>
            <span class="label label-primary">Scrum</span>
            <span class="label label-primary">Web Applications</span>
            <span class="label label-primary">Software Development</span>
            <span class="label label-primary">Web Services</span>
            <span class="label label-primary">Game Development</span>
            <span class="label label-primary">Sublimetext</span>
            <span class="label label-primary">Atom</span>
            <span class="label label-primary">PhpStorm</span>
            <span class="label label-primary">PSR</span>
            <span class="label label-primary">Front-end</span>
            <span class="label label-primary">Web Design</span>
            <span class="label label-primary">HTML</span>
            <span class="label label-primary">CSS</span>
            <span class="label label-primary">SASS</span>
            <span class="label label-primary">JavaScript</span>
            <span class="label label-primary">jQuery</span>
            <span class="label label-primary">Andular</span>
            <span class="label label-primary">Node.js</span>
            <span class="label label-primary">AJAX</span>
        </div>
    </section>

    <section class="contact">
        <h3>Get in Touch</h3>
        <ul class="list-unstyled">
            <li><i class="fa fa-envelope"></i> Gmail: <a href="https://www.google.com/recaptcha/mailhide/d?k=01lfrrEm-nxATmyXQ6r05DAQ==&amp;c=4ELu9N-pv-0lrPbPO4SjbpoaAAgzEmNdRhbScTiEMiY=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501lfrrEm-nxATmyXQ6r05DAQ\75\75\46c\0754ELu9N-pv-0lrPbPO4SjbpoaAAgzEmNdRhbScTiEMiY\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">a......@gmail.com</a></li>
            <li><i class="fa fa-linkedin"></i> Linkedin: <a href="https://linkedin.com/in/ahmadsamiei/">linkedin.com/in/ahmadsamiei/</a></li>
            <li><i class="fa fa-github"></i> Github: <a href="https://github.com/stunt/">github.com/stunt/</a></li>
            <li><i class="fa fa-pencil"></i> Blog: <a href="https://samiei.org">samiei.org</a></li>
            <li><i class="fa fa-twitter"></i> Twitter: <a href="https://twitter.com/Ahmad_Samiei">@Ahmad_Samiei</a></li>
        </ul>
    </section>
</div>
{% endblock %}