{% extends "master.twig" %}
{% block content %}
<div class="col-md-8 col-md-offset-2">
    <ul class="posts">
        {% for topic in topics %}
        <h3><a href="//samiei.org/blog/{{ topic.name|raw }}.html">{{ topic.title }}</a></h3>
        <span class="text-muted">{{ topic.date }}</span>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block footer %}
<footer>
    <div class="container text-center">

    </div>
</footer>
{% endblock %}
